In [1]:
import pandas as pd
import numpy as np
from numpy import linalg as la

In [6]:
dados = pd.read_excel('excel_carros.xlsx', index_col='carros')
pesos = [-0.25, 0.5, 0.15, 0.1]

In [7]:
dados

        custo  consumo  conforto  motor
carros
uno     26000       12         2    1.4
ka      30000       13         5    1.2
gol     28000       10         3    1.4

In [8]:
#Função para normalizar os dados
def normaliza(carros_dados):
    carros_normalizados = carros_dados.apply(la.norm)
    return carros_dados/carros_normalizados

In [36]:
dados_normalizados = normaliza(dados)

In [10]:
dados_normalizados

           custo   consumo  conforto     motor
carros
uno     0.535202  0.590481  0.324443  0.604708
ka      0.617540  0.639688  0.811107  0.518321
gol     0.576371  0.492068  0.486664  0.604708

In [11]:
#ponderando os dados
def pondera(pesos,dados_normalizados):
    return dados_normalizados*pesos

In [12]:
dados_ponderados = pondera(dados_normalizados, pesos)

In [13]:
dados_ponderados

           custo   consumo  conforto     motor
carros
uno    -0.133800  0.295241  0.048666  0.060471
ka     -0.154385  0.319844  0.121666  0.051832
gol    -0.144093  0.246034  0.073000  0.060471

In [16]:
pis = dados_ponderados.max()
pis

custo      -0.133800
consumo     0.319844
conforto    0.121666
motor       0.060471
dtype: float64

In [17]:
nis = dados_ponderados.min()
nis

custo      -0.154385
consumo     0.246034
conforto    0.048666
motor       0.051832
dtype: float64

In [20]:
def diferenca(dados_ponderados, alt):
    aux=(dados_ponderados-alt)**2
    aux=aux.sum(axis=1)
    aux=np.sqrt(aux)
    return aux

In [22]:
diferenca_max = diferenca(dados_ponderados, pis)
diferenca_max

carros
uno    0.077034
ka     0.022324
gol    0.089007
dtype: float64

In [23]:
diferenca_min = diferenca(dados_ponderados,nis)
diferenca_min

carros
uno    0.054034
ka     0.103812
gol    0.027797
dtype: float64

In [24]:
def coeficiente(diferenca_max,diferenca_min):
    return diferenca_min/(diferenca_max+diferenca_min)

In [32]:
coef = coeficiente(diferenca_max,diferenca_min)

In [33]:
coef_df = pd.DataFrame(coef,columns=['coeficiente'])

In [34]:
coef_df.sort_values(by=['coeficiente'], ascending=False)

        coeficiente
carros
ka         0.823017
uno        0.412258
gol        0.237978