In [280]:
import pandas as pd
import numpy as np
from numpy import linalg as la

In [314]:
dados = pd.read_excel('excel_carros.xlsx')
pesos = [0.25, 0.5, 0.15, 0.1]

In [262]:
dados

  carros  custo  consumo  conforto  motor
0    uno  26000       12         2    1.4
1     ka  30000       13         5    1.2
2    gol  28000       10         3    1.4

In [267]:
vet3 = [la.norm(dados.values[0:,1]), la.norm(dados.values[0:,2]) ,la.norm(dados.values[0:,3]), la.norm(dados.values[0:,4])]
vet3

[48579.831205964474, 20.322401432901575, 6.164414002968976, 2.3151673805580448]

In [345]:
normalizados = dados.values[0:,1:]/vet3
normalizados

array([[0.5352015302352019, 0.5904813975661475, 0.3244428422615251,
        0.6047078979069521],
       [0.6175402271944638, 0.6396881806966598, 0.8111071056538127,
        0.5183210553488161],
       [0.5763708787148328, 0.4920678313051229, 0.48666426339228763,
        0.6047078979069521]], dtype=object)

In [356]:
df= pd.DataFrame(normalizados, columns=dados.columns[0,1])
df

IndexError: too many indices for array

In [352]:
#ponderando os dados
pond = pesos * normalizados
pond

array([[0.13380038255880047, 0.29524069878307374, 0.04866642633922876,
        0.060470789790695215],
       [0.15438505679861594, 0.3198440903483299, 0.12166606584807191,
        0.051832105534881615],
       [0.1440927196787082, 0.24603391565256144, 0.07299963950884314,
        0.060470789790695215]], dtype=object)

In [353]:
dados.columns

Index(['carros', 'custo', 'consumo', 'conforto', 'motor'], dtype='object')

In [354]:
dados.columns[1:]

Index(['custo', 'consumo', 'conforto', 'motor'], dtype='object')