In [18]:
import pandas as pd
import numpy as np
from numpy import linalg as la

In [19]:
dados = pd.read_excel('excel_carros.xlsx')
pesos = [0.25, 0.5, 0.15, 0.1]

In [20]:
dados

  carros  custo  consumo  conforto  motor
0    uno  26000       12         2    1.4
1     ka  30000       13         5    1.2
2    gol  28000       10         3    1.4

In [21]:
vet3 = [la.norm(dados.values[0:,1]), la.norm(dados.values[0:,2]) ,la.norm(dados.values[0:,3]), la.norm(dados.values[0:,4])]
vet3

[48579.831205964474, 20.322401432901575, 6.164414002968976, 2.3151673805580448]

In [22]:
normalizados = dados.values[0:,1:]/vet3
normalizados

array([[0.5352015302352019, 0.5904813975661475, 0.3244428422615251,
        0.6047078979069521],
       [0.6175402271944638, 0.6396881806966598, 0.8111071056538127,
        0.5183210553488161],
       [0.5763708787148328, 0.4920678313051229, 0.48666426339228763,
        0.6047078979069521]], dtype=object)

In [23]:

df= pd.DataFrame(normalizados, columns=dados.columns[1:])
df

      custo   consumo  conforto     motor
0  0.535202  0.590481  0.324443  0.604708
1   0.61754  0.639688  0.811107  0.518321
2  0.576371  0.492068  0.486664  0.604708

In [24]:
#ponderando os dados
pond = pesos * normalizados
pond

array([[0.13380038255880047, 0.29524069878307374, 0.04866642633922876,
        0.060470789790695215],
       [0.15438505679861594, 0.3198440903483299, 0.12166606584807191,
        0.051832105534881615],
       [0.1440927196787082, 0.24603391565256144, 0.07299963950884314,
        0.060470789790695215]], dtype=object)

In [25]:
dfPond = pd.DataFrame(pond,columns=dados.columns[1:])
dfPond

      custo   consumo   conforto      motor
0    0.1338  0.295241  0.0486664  0.0604708
1  0.154385  0.319844   0.121666  0.0518321
2  0.144093  0.246034  0.0729996  0.0604708

In [57]:
df6 = pd.DataFrame(np.array(dfPond.max()), columns=['PIs'])
df7 = pd.DataFrame(np.array(dfPond.min()), columns=['NIs'])
PisNis=df6.join(df7)
PisNis

        PIs       NIs
0  0.154385  0.133800
1  0.319844  0.246034
2  0.121666  0.048666
3  0.060471  0.051832